<!--
  Generated template for the NovaPoupancaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> Nova Poupança</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
	
	  <ion-card-header>
	    Quando se repete?
	  </ion-card-header>
	
	  <ion-card-content>
		  <ion-segment>
		    <ion-segment-button value="unica">
		      Só uma vez
		    </ion-segment-button>
		    <ion-segment-button value="semanal">
		      Semanal
		    </ion-segment-button>
		    <ion-segment-button value="mensal">
		      Mensal
		    </ion-segment-button>
		  </ion-segment>	    
	  </ion-card-content>
	
	</ion-card>

	<ion-card>
	  <ion-card-content>
		  <ion-item>
		    <ion-label stacked>Nome da Poupança</ion-label>
		    <ion-input type="text" placeholder="Para que será?"></ion-input>
		  </ion-item>	  	
	  </ion-card-content>
	</ion-card>

	<ion-card >
	  <ion-card-header>
		  <ion-item class='box'>
		    <ion-label stacked>Meta:</ion-label>
		    <ion-input type="text" placeholder="0,00" value="{{meta}}" class="meta"></ion-input>
		  </ion-item>
		<ion-item>
  			<ion-range [(ngModel)]="variacao" color="secundary" pin="true" (ionChange)="atualizaMeta(variacao)"></ion-range>
  		</ion-item>	  	
	  </ion-card-header>
	</ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full botton (click)="adicionarParticipantes()"> Adicionar Participantes </button>
  </ion-toolbar>
</ion-footer>