<ion-header>
	<ion-navbar>
		<ion-title>
			Poupanca
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding >
	<ion-card>
	
	  <ion-card-header>
	    <h2> {{ Poupanca.nome }} </h2>
	  </ion-card-header>
	
	  <ion-card-content>
	    
	  </ion-card-content>
	
	</ion-card>

	<ion-card>
	
	  <ion-card-header>
	  	Meta:
	  </ion-card-header>
	
	  <ion-card-content>
	    <span>R$ </span> {{ Poupanca.meta }}
	  </ion-card-content>
	
	</ion-card>

	<ion-card *ngFor="let Participante of Poupanca.participantes, let i=index" [ngClass]="{active: exibido(i)}">
		<ion-card-content>

			<ion-item>
	    	<ion-avatar>
              <img src="{{ Participante.foto }}" >
            </ion-avatar>
			{{ Participante.nome }}
		<span item-right>R$ {{meta}}</span>
		<ion-icon name="more" item-right (click)="alternar(i)"></ion-icon>
			</ion-item>
		  	
		  	<div *ngIf="exibido(i)">

			<ion-item class='box'>
			    <ion-label stacked>Meta:</ion-label>
			    <ion-input type="text" placeholder="0,00" value="{{meta}}" class="	meta"></ion-input>
			  </ion-item>
			<ion-item>
  				<ion-range [(ngModel)]="variacao" color="secundary" pin="true" (ionChange)="atualizaMeta(variacao)"></ion-range>
	  		</ion-item>	
			
			</div>

	  </ion-card-content>
	
	</ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full botton>Nova Poupança</button>
  </ion-toolbar>
</ion-footer>