<ion-header>
	<ion-navbar>
		<ion-title>
			Poupanca
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding >
	<ion-card>
	
	  <ion-card-header>
	    Nome da Poupança
	  </ion-card-header>
	
	  <ion-card-content>
	    {{ Poupanca.nome }}
	  </ion-card-content>
	
	</ion-card>

	<ion-card>
	
	  <ion-card-header>
	  	Valor desejado
	  </ion-card-header>
	
	  <ion-card-content>
	    {{ Poupanca.meta }}
	  </ion-card-content>
	
	</ion-card>

	<ion-card *ngFor="let Participante of Poupanca.participantes, let i=index" [ngClass]="{active: exibido(i)}">
		<ion-card-content>

			<ion-item>
	    <ion-icon ios="ios-{{ Participante.foto }}" md="md-{{ Participante.foto }}" item-left ></ion-icon>
			{{ Participante.nome }}
		<span item-right>R$ 300,00</span>
		<ion-icon name="more" item-right (click)="alternar(i)"></ion-icon>
			</ion-item>
		  	
		  	<div *ngIf="exibido(i)">
		  	<ion-item >
				<ion-input placeholder="R$ 0,00"></ion-input>
			</ion-item>
			<ion-range  color="danger" pin="true">	</ion-range> 
			</div>

	  </ion-card-content>
	
	</ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full botton>Nova Poupança</button>
  </ion-toolbar>
</ion-footer>