page-poupanca {

	.meta::before {
    content: "R$ ";
    font-size: 0.8em;
    padding: 0 5px;
    text-align: center;
    color: white;
}

	.meta {	
		font-size: 2em;
    	text-align: center;
    	border-color: white;
    	border-style: solid;
    	border-width: 2px;
    	background: #4AAAE6;
    	color: white;
    	border-radius: 5px;
	}

	.box {
		background: #4AAAE6;
		padding-bottom: 1.6em;
	}

	.input {
		background-color: rgba(237, 241, 242, 0.29);
    	border-radius: 5px;
    	margin: 6px;
	}

}
