page-home {
	span{
		color: #abb0b4;
	}

	h6{
		color: #abb0b4;
    	font-size: .8em;
	}

	ion-avatar img, ion-thumbnail img, ion-avatar, .fotos {
		display: inline;

	}

	ion-avatar {
		position: inherit;
	}

	ion-item {
		border-style: solid;
		border-width: 5px;
		border-color: black;
		border-bottom: 5px;
	}

	.list-md .item-block .item-inner {
		border-bottom: 1px solid #dedede !important;
	}
}
