<ion-tabs>
      <ion-tab tabIcon="heart" [root]="tab1"></ion-tab>
      <ion-tab tabIcon="star" [root]="tab2"></ion-tab>
</ion-tabs>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Poupa Junto</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="Ativas">
      <ion-segment-button value="Ativas">
        Ativas
      </ion-segment-button>
      <ion-segment-button value="Encerradas">
        Encerradas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <h5>Minhas Poupanças</h5>

  <ion-list>
    <ion-item *ngFor="let Poupanca of PoupancasMinhas" (click)="editar(Poupanca)">
      {{ Poupanca.nome }}
    </ion-item>
  </ion-list>

  <h5>Poupanças de Amigos</h5>

  <ion-list>
    <ion-item *ngFor="let Poupanca of PoupancasAmigos">
      {{ Poupanca.nome }}
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <button ion-button full botton (click)="nova()">Nova Poupança</button>
  </ion-toolbar>
</ion-footer>